<div class="sv-md">
  <h4 class="sv-md-title">{{title}}</h4>
  {{#attribution}}
  <p class="sv-md-attrib">
    {{#logo}}<img class="sv-md-logo" src="{{url}}" alt=""><br>{{/logo}}
    <a href="{{url}}" target="_blank" rel="noopener noreferrer"
       aria-label="{{title}} ({{newTab}})">{{title}}</a>
  </p>
  {{/attribution}}
  <img class="sv-md-legend" role="img" src="{{legendUrl}}" alt="{{legendAlt}}">
  <p class="sv-md-abstract">{{abstract}}</p>
  <div class="sv-md-doclink">
    {{#metadataLinks}}
    <a href="{{url}}" target="_blank" rel="noopener noreferrer"
       class="sv-md-meta btn btn-sm btn-outline-secondary"
       aria-label="{{label}} ({{newTab}})">
      <i class="bi bi-info-circle" aria-hidden="true"></i> {{label}}
    </a>
    {{/metadataLinks}}
  </div>
</div>
