<table class="sv-md-iso">
  <tbody>
    {{#date}}
    <tr><th>{{dateLabel}}</th><td>{{date}}</td></tr>
    {{/date}}
    {{#producer}}
    <tr><th>{{producerLabel}}</th><td>{{producer}}</td></tr>
    {{/producer}}
    {{#licenceText}}
    <tr>
      <th>{{licenceLabel}}</th>
      <td>
        {{#licenceUrl}}<a href="{{licenceUrl}}" target="_blank" rel="noopener noreferrer">{{licenceText}}</a>{{/licenceUrl}}
        {{^licenceUrl}}{{licenceText}}{{/licenceUrl}}
      </td>
    </tr>
    {{/licenceText}}
  </tbody>
</table>
